version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      FLASK_APP: wsgi.py
      FLASK_ENV: development
      DATABASE_URL: postgresql://postgres:123456@db:5432/kocho_db
    depends_on:
      - db
    volumes:
      - ./backend:/app
    command: flask run --host=0.0.0.0 --port=5000

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: kocho_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
